<!DOCTYPE html>
<html lang="en">
<head>
	<title>Crime Analysis Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="/"><h2>Crime Analysis</h2></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/" class="selected">Home</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/view_trend">View Trend</a></li>
				<li><a href="/view_pie">View Pie</a></li>
				<li><a href="/summary">Summary</a></li>
			</ul>
		</nav><!-- end navigation menu -->
	</header><!-- end header -->

	<section class="main clearfix">
		<div class="work">
			<a href="/Hollywood">
				<img src="img/Hollywood.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Hollywood</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/Harbor">
				<img src="img/harbor.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Harbor</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/Southeast">
				<img src="img/southeast.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Southeast</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/Central">
				<img src="img/central.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Central</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/Southwest">
				<img src="img/Southwest.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Southwest</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/N_Hollywood">
				<img src="img/N hollywood.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>N Hollywood</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/Mission">
				<img src="img/Mission.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Mission</h1>
					</div>
				</div>
			</a>
		</div>
		
		<div class="work">
			<a href="/Topanga">
				<img src="img/Topanga.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Topanga</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/77th_Street">
				<img src="img/77thstreet.jpg" height = "300" width = "300" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>77th Street</h1>
					</div>
				</div>
			</a>
		</div>

		
	</section><!-- end main -->
	
</body>
</html>
