<html>

<head>
<title> CRIME WEBSITE </title>
</head>

<body background = "mapbg.jpg">
<h1 align = "center">ONLINE TEST</h1>

Q1 : Which crimes do you think the age 40-50 will be suffered?
<select name="crime" form = "testform">
<option disabled selected value> -- SELECT AN OPTION -- </option>
<option value="ATTEMPTED ROBBERY">ATTEMPTED ROBBERY</option>
<option value="ROBBERY">ROBBERY</option>
<option value="BATTERY - SIMPLE ASSAULT">BATTERY - SIMPLE ASSAULT</option>
<option value="CONSPIRACY">CONSPIRACY</option>
</select>
<br/><br/>
Q2 : Which weapons do you think were used the most in 2018?
<select name="weapon" form = "testform">
<option disabled selected value> -- SELECT AN OPTION -- </option>
<option value="FOLDING KNIFE">FOLDING KNIFE</option>
<option value="STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)">STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)</option>
<option value="ASSAULT WEAPON/UZI/AK47/ETC">ASSAULT WEAPON/UZI/AK47/ETC</option>
<option value="MACE/PEPPER SPRAY">MACE/PEPPER SPRAY</option>
</select>
<br/><br/>
Q3 : Which race do you think has the largest ratio of crime victims in 2018?
<select name="race" form = "testform">
<option disabled selected value> -- SELECT AN OPTION -- </option>
<option value="White">White</option>
<option value="Hispanic/Latin/Mexican">Hispanic/Latin/Mexican</option>
<option value="Other">Other</option>
<option value="Other Asian">Other Asian</option>
</select>

<br/><br/>
Q4 : During the time from 7a.m to 9p.m, which places do you think are the most dangerous?
<select name="area" form = "testform">
<option disabled selected value> -- SELECT AN OPTION -- </option>
<option value="Central">Central</option>
<option value="Hollywood">Hollywood</option>
<option value="Newton">Newton</option>
<option value="77th Street">77th Street</option>
<option value="Southwest">Southwest</option>
</select>



<br/>
<br/>
<br/>
<form action="/test" method="get" id="testform">
	<button>submit</button>
</form>
</div>

</body>

</html>